<h1>Listing says</h1>

<%= link_to 'New Say', new_say_path, class: 'btn btn-large' %>

<ul class="says">
<% @says.each do |say| %>
  <li>
    <span class="nickname"><%= say.nickname %></span>
    <div class="text"><%= link_to say.text, say %></div>
  </li>
<% end %>
</ul>
