ul.says {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;

  .nickname {
    font-weight: bold;
  }
  .text {
    line-height: 25px;
  }
}

form.say {
  margin-top: 10px;
  .control-group {
    display: inline-block;
    vertical-align: top;
  }
}

body.new_says, body.create_says {
  form.say {
    input {
      font-size: 20px;
      padding: 7px;
    }

    .field_with_errors {
      display: inline;
    }
  }
}

body.index_says {
  .page-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  ul.says {
    font-size: 15px;
    li {
      border-bottom: 1px solid #eee;
      padding: 3px 0;
    }
  }

  .no-results {
    p {
      font-size: 20px;
      text-align: center;
      margin: 30px 0;
    }
  }
}

body.show_says {
  h1 {
    .text {
      font-weight: 100;
    }
  }
  .say {
    .nickname {
      font-size: 20px;
    }
    .text {
      font-size: 20px;
    }
  }
  .vote-set {
    float: right;
  }
  form {
    margin: 20px 0 0 0px;
  }

  .page-header {
    margin-top: 5px;
  }

  ul.after-says {
    li {
      overflow: hidden;
      border-bottom: 1px solid white;
      padding: 5px 5px 5px 0;
    }
    li:hover {
      background: #ccc;
    }

    .nickname {
      font-size: 15px;
    }
    .text {
      font-size: 15px;
      line-height: 30px;
    }
  }
}
