body.index_says {
  ul.says {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 20px;
    .text {
      line-height: 30px;
    }
  }
}

body.show_says {
  .nickname {
    font-size: 17px;
    font-weight: bold;
  }
  .text {
    font-size: 20px;
  }
}
